@charset "utf-8";
/* CSS Document */

.about-photo {
	background-image: url('../logo/img_about_jos.png');	
	width: 250px;
	height: 250px;
	margin: 20px;
	background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}

td.about-photo{
	text-align: center;
	vertical-align: middle;
}

.icons-container {
	min-height: 100px;
	height: 100px;
}

.about-intro{
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	color: #FFF;
	font-family: Calibri;
	font-size: 18px;
	text-align: center;
	padding: 20px 10px 20px 10px;
}

.about-highlight{
	color: #FF8C00;
	font-family: Calibri;
	font-size: 18px;
}

.about-title{
	color: #FF8C00;
	font-family: Calibri;
	font-size: 22px;
	font-weight: bold;
}

.work-experience {
	background: #FF8C00;
	padding: 20px;
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
}

.about-company{
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	color: #FF8C00;
	text-transform: uppercase;
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
}

.about-date{
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	color: #FF8C00;
	text-transform: uppercase;
	font-family: Calibri;
	font-size: 16px;
}

.about-project{
	background-color: rgba(0,0,0,0.25);
	padding: 10px 10px 10px 40px;
	color: #FF8C00;
	text-transform: uppercase;
	font-family: Calibri;
	font-style: italic;
	font-size: 16px;
}

.about-role{
	background-color: rgba(0,0,0,0.25);	
	padding: 10px;
	color: #FFF;
	text-transform: uppercase;
	font-family: Calibri;
	font-size: 16px;
}

.about-icon-resume{
	background-image: url('../logo/img_about_resume.png');
}

.about-icon-artstation{
	background-image: url('../logo/img_about_artstation.png');
}

.about-icon-linkedin{
	background-image: url('../logo/img_about_linkedin.png');
}

.about-icon,
.about-icon-resume,
.about-icon-artstation,
.about-icon-linkedin{
	background-size: contain;
    background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	transition: background-image 0.3s ease-in-out;
	text-decoration: none;
}

.about-icon-resume:hover{
	background-image: url('../logo/img_about_resume_hover.png');
}

.about-icon-artstation:hover{
	background-image: url('../logo/img_about_artstation_hover.png');
}

.about-icon-linkedin:hover{
	background-image: url('../logo/img_about_linkedin_hover.png');
}

.about-icon-row {
	display: flex;
	justify-content: center;
	gap: 10px; /* space between icons */
	padding-bottom: 10px;
}