@charset "utf-8";
/*== MAIN PAGE ==*/

	/* main background markup */
.bg-fc6-main,
.bg-hunt-main,
.bg-shaman-main,
.bg-robinson-main,
.bg-climb-main,
.bg-homefront-main,
.bg-ryse-main,
.bg-bulletrun-main,
.bg-parabellum-main,

.bg-submarine-main,
.bg-medalofhonor-main,
.bg-empires-main,
.bg-chateau-main,
.bg-berchtesgaden-main,
.bg-nostalgia-main,
.bg-yomi-main,
.bg-rs-main
{
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 600px;
	width: 1000px;
	text-decoration: none;
}

	/* main background - images */
.bg-fc6-main {
	background-image: url("../content/backgrounds/img_bg_far_cry_6_cover.jpg");
}
.bg-hunt-main {
	background-image: url("../content/backgrounds/img_bg_hunt_showdown_cover.jpg");
}
.bg-shaman-main {
	background-image: url("../content/backgrounds/img_bg_shaman_cover.jpg");
}
.bg-robinson-main {
	background-image: url("../content/backgrounds/img_bg_robinson_cover.jpg");
}
.bg-climb-main {
	background-image: url("../content/backgrounds/img_bg_climb_cover.jpg");
}
.bg-homefront-main {
	background-image: url("../content/backgrounds/img_bg_homefront_tr_cover.jpg");
}
.bg-ryse-main {
	background-image: url("../content/backgrounds/img_bg_ryse_cover.jpg");
}
.bg-bulletrun-main {
	background-image: url("../content/backgrounds/img_bg_bullet_run_cover.jpg");
}
.bg-parabellum-main {
	background-image: url("../content/backgrounds/img_bg_parabellum_cover.jpg");
}

.bg-submarine-main {
	background-image: url("../content/backgrounds/img_bg_submarine_cover.jpg");
}
.bg-medalofhonor-main {
	background-image: url("../content/backgrounds/img_bg_medal_of_honor_cover.jpg");
}
.bg-empires-main {
	background-image: url("../content/backgrounds/img_bg_empires_cover.jpg");
}
.bg-chateau-main {
	background-image: url("../content/backgrounds/img_bg_chateau_cover.jpg");
}
.bg-berchtesgaden-main {
	background-image: url("../content/backgrounds/img_bg_berchtesgaden_cover.jpg");
}
.bg-nostalgia-main {
	background-image: url("../content/backgrounds/img_bg_nostalgia_cover.jpg");
}
.bg-yomi-main {
	background-image: url("../content/backgrounds/img_bg_yomi_cover.jpg");
}
.bg-rs-main {
	background-image: url("../content/backgrounds/img_bg_rs_cover.jpg");
}

	/* main background - overlay markup */
.bg-fc6-main::after,
.bg-hunt-main::after,
.bg-shaman-main::after,
.bg-robinson-main::after,
.bg-climb-main::after,
.bg-homefront-main::after,
.bg-ryse-main::after,
.bg-bulletrun-main::after,
.bg-parabellum-main::after,

.bg-submarine-main::after,
.bg-medalofhonor-main::after,
.bg-empires-main::after,
.bg-chateau-main::after,
.bg-berchtesgaden-main::after,
.bg-nostalgia-main::after,
.bg-yomi-main::after,
.bg-rs-main::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 140, 0, 0.1);
    border: 2px solid rgba(255, 140, 0, 0.5);
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
}

	/* main background - hover visibility */
.bg-fc6-main:hover::after,
.bg-hunt-main:hover::after,
.bg-shaman-main:hover::after,
.bg-robinson-main:hover::after,
.bg-climb-main:hover::after,
.bg-homefront-main:hover::after,
.bg-ryse-main:hover::after,
.bg-bulletrun-main:hover::after,
.bg-parabellum-main:hover::after, 

.bg-submarine-main:hover::after,
.bg-medalofhonor-main:hover::after,
.bg-empires-main:hover::after,
.bg-chateau-main:hover::after,
.bg-berchtesgaden-main:hover::after,
.bg-nostalgia-main:hover::after,
.bg-yomi-main:hover::after,
.bg-rs-main:hover::after {
    opacity: 1;
}

	/* main logos */
.header-logo-company_ubisoft {
	width: 100px;
	height: 100px;
	background-image: url("../logo/img_logo_ubisoft.png");
	background-size: 70px 70px;
	background-position: center;
	background-repeat: no-repeat;	
}
.header-logo-company_playsnak {
	width: 100px;
	height: 100px;
	background-image: url("../logo/img_logo_playsnak.png");
	background-size: 80px 80px;
	background-position: center;
	background-repeat: no-repeat;	
}
.header-logo-company_crytek {
	width: 224px;
	height: 100px;
	background-image: url("../logo/img_logo_crytek.png");
	background-size: 157px 70px;
	background-position: center;
	background-repeat: no-repeat;	
}
.header-logo-company_acony {
	width: 100px;
	height: 100px;
	background-image: url("../logo/img_logo_acony.png");
	background-size: 80px 80px;
	background-position: center;
	background-repeat: no-repeat;	
}





/*============= CONTENT PAGE ===========*===/

	/* content background markup */
.bg-fc6,
.bg-hunt_showdown,
.bg-shaman,
.bg-robinson,
.bg-homefront,
.bg-ryse,
.bg-bulletrun,
.bg-parabellum,

.bg_submarine,
.bg_medalofhonor,
.bg_empires,
.bg_chateau,
.bg_berchtesgaden,
.bg_nostalgia,
.bg_yomi,
.bg_rs
{
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	height: 600px;
	width: 1000px;
}

	/* content background images */
.bg-fc6{
	background-image: url("../content/backgrounds/img_bg_far_cry_6.jpg");
}
.bg-hunt_showdown{
	background-image: url("../content/backgrounds/img_bg_hunt_showdown.jpg");
}
.bg-shaman{
	background-image: url("../content/backgrounds/img_bg_shaman.jpg");
}
.bg-robinson{
	background-image: url("../content/backgrounds/img_bg_robinson.jpg");
}
.bg-climb{
	background-image: url("../content/backgrounds/img_bg_climb.jpg");
}
.bg-homefront{
	background-image: url("../content/backgrounds/img_bg_homefront_tr.jpg");
}
.bg-ryse{
	background-image: url("../content/backgrounds/img_bg_ryse.jpg");
}
.bg-bulletrun{
	background-image: url("../content/backgrounds/img_bg_bullet_run.jpg");
}
.bg-parabellum{
	background-image: url("../content/backgrounds/img_bg_parabellum.jpg");
}

.bg-submarine{
	background-image: url("../content/backgrounds/img_bg_submarine.jpg");
}
.bg-medalofhonor{
	background-image: url("../content/backgrounds/img_bg_medal_of_honor.jpg");
}
.bg-empires{
	background-image: url("../content/backgrounds/img_bg_empires.jpg");
}
.bg-chateau{
	background-image: url("../content/backgrounds/img_bg_chateau.jpg");
}
.bg-berchtesgaden{
	background-image: url("../content/backgrounds/img_bg_berchtesgaden.jpg");
}
.bg-nostalgia{
	background-image: url("../content/backgrounds/img_bg_nostalgia.jpg");
}
.bg-yomi{
	background-image: url("../content/backgrounds/img_bg_yomi.jpg");
}
.bg-rs{
	background-image: url("../content/backgrounds/img_bg_rs.jpg");
}

/* LOGOs */
.header-logo-far_cry_6 {
	width: 250px;
	background-image: url("../logo/img_logo_far_cry_6.png");
	background-repeat: no-repeat;
	background-size: 200px 40px;
    background-position: center;
	padding-right: 50px;
}
.header-logo-hunt_showdown{
	width: 200px;
	/*border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border */
	background-image: url("../logo/img_logo_hunt_showdown.png");
	background-repeat: no-repeat;
	background-size: 202px 80px;
    background-position: center;
	padding-right: 0px;
}
.header-logo-shaman{
	width: 200px;
	/*border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border */
	background-image: url("../logo/img_logo_shaman.png");
	background-repeat: no-repeat;
	background-size: 120px 120px;
    background-position: center;
}
.header-logo-robinson{
	width: 1000px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_robinson.png");
	background-repeat: no-repeat;
	background-size: 420px 72px;
    background-position: center;
}
.header-logo-climb{
	width: 200px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_climb.png");
	background-repeat: no-repeat;
	background-size: 108px 80px;
    background-position: center;
}
.header-logo-homefront{
	width: 400px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_homefront_tr.png");
	background-repeat: no-repeat;
	background-size: 207px 50px;
    background-position: center;
}
.header-logo-ryse{
	width: 350px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_ryse.png");
	background-repeat: no-repeat;
	background-size: 222px 80px;
    background-position: center;
}
.header-logo-bulletrun{
	width: 500px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_bullet_run.png");
	background-repeat: no-repeat;
	background-size: 95%;
    background-position: center;
}
.header-logo-parabellum{
	width: 200px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_parabellum.png");
	background-repeat: no-repeat;
	background-size: 60%;
    background-position: center;
}

.header-logo-submarine{
	width: 350px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_submarine.png");
	background-repeat: no-repeat;
	background-size: 202px 60px;
    background-position: center;
}
.header-logo-medalofhonor{
	width: 250px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_medal_of_honor.png");
	background-repeat: no-repeat;
	background-size: 80%;
    background-position: center;
}
.header-logo-empires{
	width: 350px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_empires.png");
	background-repeat: no-repeat;
	background-size: 85%;
    background-position: center;
}
.header-logo-chateau{
	width: 350px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_chateau.png");
	background-repeat: no-repeat;
	background-size: 85%;
    background-position: center;
}
.header-logo-berchtesgaden{
	width: 400px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_berchtesgaden.png");
	background-repeat: no-repeat;
	background-size: 85%;
    background-position: center;
}
.header-logo-nostalgia{
	width: 350px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_nostalgia.png");
	background-repeat: no-repeat;
	background-size: 222px 80px;
    background-position: center;
}
.header-logo-yomi{
	width: 350px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_yomi.png");
	background-repeat: no-repeat;
	background-size: 222px 80px;
    background-position: center;
}
.header-logo-rs{
	width: 350px;
	border: 0px solid rgba(255, 140, 0, .5); /* Semi-transparent orange border*/
	background-image: url("../logo/img_logo_rs.png");
	background-repeat: no-repeat;
	background-size: 222px 80px;
    background-position: center;
}